<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineering Student at
      <a class="underline-link" href="https://www.iiits.ac.in/" target="_blank">IIIT-Sri City</a> finishing my bachelors degree in Electronics & Communications Engineering. I recently completed my 
      winter internship at IIT-Indore at the signals and software group under <a class="underline-link" href="http://iiti.ac.in/people/~vbhatia/" target="_blank">Dr. Vimal Bhatia</a>. I worked there on radar systems and adaptive algorithms.
    </p>

    <p>
      As a electronics engineering student, I like to work on challenging problems in the area of Digital Signal Processing, Pattern Recognition and other allied areas in order to further
      my knowledge. I also am interested in building applications involving statistical methods applied to real world problems as 
      I think its a good amalgam of theory and practice. Currently I'm working on a <a class="underline-link" href="https://sites.google.com/view/wearable-robotics/home?authuser=0" target="_blank">project</a> involving bio-medical signal controlled robot for 
      rehabilitation purposes.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm running, or writing tunes on my guitar, watching anime
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
