<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://gihub.com/theAdityaRamesh" target="_blank">
          <img src="{{site.baseurl}}/img/featured/UEMG/#" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/theAdityaRamesh" target="_blank">UEMG-Power</a>
        </div>
        <p>A machine learning based intent sensing system using EMG sensors in the forearm which controls 
          a powered robotic arm. Applications include prosthesis, rehabiliation and industry.
        </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/theAdityaRamesh" target="_blank">
          <img src="{{site.baseurl}}/img/featured/EMGclass/#" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/theAdityaRamesh" target="_blank">EMG classification toolbox</a>
        </div>
        <p>MATLAB and Julia implementation of popular features used in EMG time-series classification.</p>
      </figcaption>
    </div>
  </div>
</section>
