<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/RPower/#" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">R-Power</a>
        </div>
        <p>Development of a Robotic arm which is part of a powered exoskeleton. Applications include rehabilitation, 
          prosthesis and augmentation.
        </p>
      </figcaption> 
    </div>
    
    <!-- ----- -->
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/Smart-Chains/#" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Smart Chains</a>
        </div>
        <p>Iot solutions for manufacturing supply chains for real time asset tracking.
        </p>
      </figcaption> 
    </div>

  </div>
</section>
